doctype html
html
  head
    title= title
    
    
    
    <link href="/Lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <script src="/Lib/jquery/jquery.min.js"></script>
    <link href="/stylesheets/index.css" rel="stylesheet">
    
    <script src="/Lib/bootstrap/bootstrap.min.js"></script>
    <link href="/stylesheets/nav.css" rel="stylesheet">
    
    //引用sweetAlert库
    script(src="/Lib/sweetAlert/sweetalert.min.js")
    link(rel='stylesheet', href='/Lib/sweetAlert/sweetAlert.css')
    
    //引用ajaxfileupload库
    script(src="/Lib/ajaxfileupload.js")
    
    //引用bootstrap table库
    link(rel='stylesheet', href='/Lib/bootstrap-table/bootstrap-table.css')
    
    // script(src="/Lib/bootstrap-table/extensions/filter/bootstrap-table-filter.js")
    
   
    
    script(src="/Lib/bootstrap-table/bootstrap-table.js")
    //引用中文bootstraptable
    script(src="/Lib/bootstrap-table/locale/bootstrap-table-zh-CN.js")
    //引用bootstraptable export功能
    script(src="/Lib/bootstrap-table/extensions/export/tableExport.js") 
    script(src="/Lib/bootstrap-table/extensions/export/bootstrap-table-export.js")
    
    
      
  body
    div
      nav.navbar.navbar-inverse.navbar-fixed-top        
        div.container 
          div.navbar-header 
            a.navbar-brand(href="./") Net Gap 
          u.nav.navbar-nav 
            li
              a(href="./") Index 
            li
              a(href="/view") Hardware View
            li.active
              a(href="/control") Hardware Control
          
          ul.nav.navbar-nav.navbar-right
            li
              button.btn.btn-success.btn-udp Run Udp Server
            li.udp-status(style="color:#D9534F") Udp Server Stopped
            
            li.headUserName 
            li.headUserIcon
              img(alt="userIcon" src="/img/userIcon1.jpg")
            li.logout(style="color:white",title="Logout")
              span.glyphicon.glyphicon-log-out(aria-hidden="true")
            
            
            li.login-btn Login
            
    div.jumbotron(style="margin-top:65px")
      div.container
       div.row#hash1(name="hash1")
        div.col-md-8
          h1 控制硬件电路的工作状态
          p Net Gap系统的硬件能够根据服务器的命令更改工作状态，用户可通过网页配置硬件，使其工作在理想状态
        div.col-md-4(style="text-align: center")
          img(src="/img/tools.png",style="margin-top:0px;height:160px")
    
    
    div.container
    
      //硬件设备标签页
      ul#hardwareTabs.nav.nav-tabs
        li.active
          a(href="#B1" data-toggle="tab" style="height:40px") Board1
        li
          a(href="#B2" data-toggle="tab" style="height:40px") Board2

      
      div#hardwareTabsContent.tab-content
        div.tab-pane.fade.in.active#B1
        
          div#custom-toolbar
            form.fileForm#fileForm(method="post",enctype='multipart/form-data',action="/control/uploadFile")
              input#file1(type="file",name="file",display="inline",style="display:inline")
              button.btn.btn-primary#fileUploadBtn 提交配置文件
            
          table#hardwareTable1(data-show-toggle="true"
            data-url="/control/getConfigFile?board=1" 
            data-toolbar="#custom-toolbar"   
            data-search="true"           
            data-striped="true"
            data-sort-name="register" 
            data-sort-order="desc"
            data-pagination="true"
            data-show-export="true")
            thead
              tr
                th(data-field="register" data-width="140" data-align="left" data-sortable="true") Register
                th(data-field="sourceIP" data-width="140" data-align="left" data-sortable="true") Source IP
                th(data-field="destinationIP" data-width="140" data-align="left" data-sortable="true") Destination IP
                th(data-field="operation" data-width="140" data-align="left") Operation
                
         
        div.tab-pane.fade#B2
          p B2
    footer
      p(style="text-align:center") NetGap Team and ECNU Display Lab © 2015-2016 &nbsp;&nbsp;&nbsp; Designed By ZHANGDING    
    
    include ./layout/login.jade
    <script src="/Js/control.js"></script>
            
      
        
